<!DOCTYPE html>
<html>
<head>
		<title>
				Currency Exchange
		</title>
		<link rel="stylesheet" href="./boot/css/bootstrap.css">
		<link rel="stylesheet" href="./style.css">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- 		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

 -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript">
        $(document).ready(function () {
            $('#divRss').FeedEk({
                FeedUrl: 'http://feeds.reuters.com/reuters/INVideoBreakingviews',
                MaxCount: 1
            });
            $('#divRsst').FeedEk({
                FeedUrl: 'http://jquery-plugins.net/rss',
               ShowDesc: true,
                MaxCount: 1,
                 ShowPubDate: true, 
            });

       
        });

    </script>
    <style>
        body{font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;background-color: #efefef;font-size: 13px;

        line-height: 17px !important;}
        .rssDiv{float: left;padding-right: 35px;}
        ol{width: 300px !important;}
    </style>
 	<script type="text/javascript">
 	
 /*
* FeedEk jQuery RSS/ATOM Feed Plugin v3.0 with YQL API
* http://jquery-plugins.net/FeedEk/FeedEk.html  https://github.com/enginkizil/FeedEk
* Author : Engin KIZIL http://www.enginkizil.com   
*/

(function ($) {
    $.fn.FeedEk = function (opt) {
        var def = $.extend({
            MaxCount: 5,
            ShowDesc: true,
            ShowPubDate: true,
            DescCharacterLimit: 0,
            TitleLinkTarget: "_blank",
            DateFormat: "",
            DateFormatLang:"en"
        }, opt);
        
        var id = $(this).attr("id"), i, s = "", dt;
        $("#" + id).empty();
        if (def.FeedUrl == undefined) return;       
        $("#" + id).append('<img src="loader.gif" />');

        var YQLstr = 'SELECT channel.item FROM feednormalizer WHERE output="rss_2.0" AND url ="' + def.FeedUrl + '" LIMIT ' + def.MaxCount;

        $.ajax({
            url: "https://query.yahooapis.com/v1/public/yql?q=" + encodeURIComponent(YQLstr) + "&format=json&diagnostics=false&callback=?",
            dataType: "json",
            success: function (data) {
                $("#" + id).empty();
                if (!(data.query.results.rss instanceof Array)) {
                    data.query.results.rss = [data.query.results.rss];
                }
                $.each(data.query.results.rss, function (e, itm) {
                    s += '<li><div class="itemTitle"><a href="' + itm.channel.item.link + '" target="' + def.TitleLinkTarget + '" >' + itm.channel.item.title + '</a></div>';
                    
                    if (def.ShowPubDate){
                        dt = new Date(itm.channel.item.pubDate);
                        s += '<div class="itemDate">';
                        if ($.trim(def.DateFormat).length > 0) {
                            try {
                                moment.lang(def.DateFormatLang);
                                s += moment(dt).format(def.DateFormat);
                            }
                            catch (e){s += dt.toLocaleDateString();}                            
                        }
                        else {
                            s += dt.toLocaleDateString();
                        }
                        s += '</div>';
                    }
                    if (def.ShowDesc) {
                        s += '<div class="itemContent">';
                         if (def.DescCharacterLimit > 0 && itm.channel.item.description.length > def.DescCharacterLimit) {
                            s += itm.channel.item.description.substring(0, def.DescCharacterLimit) + '...';
                        }
                        else {
                            s += itm.channel.item.description;
                         }
                         s += '</div>';
                    }
                });
                $("#" + id).append('<ul class="feedEkList">' + s + '</ul>');
            }
        });
    };
})(jQuery);
 	
 </script>
 
 </head>

 <body ng-app="myApp" ng-controller="myCtrl">
 	<div class='container-fulid'>
 			<nav class="navbar navbar-default">
			 	 <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="#">Exchange Platform</a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav navbar-right">
			        <li><a href="#">Exchage</a></li>
			        <li><a href="#">News</a></li>
			        
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
		    </nav>


		 <div class="row">
		 	<div class="col-md-6">
			 	 <h3 style="margin-left:30px;" >Currency exchage</h3>  
		 	</div>
		  
		  <div class="col-md-6"  style="margin-left: 1000px;">
       	  Amout <input name="myfield" class="input"  ng-model="amount" type="input"></input>
        </form>
      
      </div>
	
		 </div>   
		 
		 <div class="mr">
		  	<br/>
        <div class="row">
  <div class="col-md-4">

    <div class="thumbnail" >
      <h4 align="center" class="h">USD/JPY</h4>	
      	
      <div class="row">
      		<div class="solid col-sm-6">
      			 <div > 
						<h3 align="center"> {{bid1}}</h3>
				 </div>
      			 <div class="bt"></div>
  			<a class="btn b1" ng-click="myBid1()" >Bid</a>
      		</div>
      		<div class="solid col-sm-6">
      			 <div> 
						<h3 align="center" > {{ask1}}</h3>
			 	 </div>
      		
         		 <div class="bt"></div>
       			<a class="btn b2" ng-click="myAsk1()">Ask</a>
      		</div >
      </div>      
    </div>
  </div>

<div class="col-md-4">

    <div class="thumbnail" >
      <h4 align="center" class="h">AUD/JPY</h4>	
      	
      <div class="row">
      		<div class="solid col-sm-6">
      			  <div > 
						<h3 align="center"> {{bid2}}</h3>
				 </div>
      			 <div class="bt"></div>
       			<a class="btn b1" ng-click="myBid2()">Bid</a>
      		</div>
      		<div class="solid col-sm-6">
      			 <div> 
					<h3 align="center"> {{ask2}}</h3>
			 	 </div>
      		
      			 <div class="bt"></div>
       			<a class="btn b2" ng-click="myAsk2()">Ask</a>
      		</div >
      </div>      
    </div>
  </div>
  
<div class="col-md-4">

    <div class="thumbnail" >
      <h4 align="center" class="h">EUR/CAD</h4>	
      	
      <div class="row">
      		<div class="solid col-sm-6">
      		 <div> 
      		     <h3 align="center"> {{bid3}}</h3>
				 </div>
      			 <div class="bt"></div>
       			<a class="btn b1" ng-click="myBid3()" >Bid</a>
      		</div>
      		<div class="solid col-sm-6">
      			 <div> 
					<h3 align="center"> {{ask3}}</h3>
			 	 </div>
      		
      			 <div class="bt"></div>
       			<a class="btn b2" ng-click="myAsk3()">Ask</a>
      		</div >
      </div>      
    </div>
  </div>

</div>


<div class="row">
  <div class="col-md-4">

    <div class="thumbnail" style="width:300px; ">
      <h4 align="center" class="h">USD/CNY</h4>	
      	
      <div class="row">
      		<div class="solid col-sm-6">
      		      <div> 
						<h3 align="center"> {{bid4}}</h3>
				 </div>
      			 <div class="bt"></div>

       			<a class="btn b1" ng-click="myBid4()">Bid</a>
      		</div>
      		<div class="solid col-sm-6">
         		  <div> 
						<h3 align="center"> {{ask4}}</h3>
			 	 </div>
      		
         		 <div class="bt"></div>

       			<a class="btn b2" ng-click="myAsk4()">Ask</a>
      		</div >
      </div>      
    </div>
  </div>

<div class="col-md-4">

    <div class="thumbnail" style="width:300px;">
      <h4 align="center" class="h">CAD/CNY</h4>	
      	
      <div class="row">
      		<div class="solid col-sm-6">
      		  <div> 
				  <h3 align="center"> {{bid5}}</h3>
				 </div>
      			
      			 <div class="bt"></div>
       			<a class="btn b1" ng-click="myBid5()">Bid</a>
      		</div>
      		<div class="solid col-sm-6">
      		 <div> 
			 	<h3 align="center"> {{ask5}}</h3>
			 	 </div>
      		
      			 <div class="bt"></div>
       			<a class="btn b2" ng-click="myAsk5()">Ask</a>
      		</div >
      </div>      
    </div>
  </div>
  
<div class="col-md-4">

    <div class="thumbnail" style="width:300px;">
      <h4 align="center" class="h">GPB/USD</h4>	
      	
      <div class="row">
      		<div class="solid col-sm-6">
      		  <div> 
						<h3 align="center"> {{bid6}}</h3>
				 </div>
      			
      			 <div class="bt"></div>
       			<a class="btn b1" ng-click="myBid6()">Bid</a>
      		</div>
      		<div class="solid col-sm-6">
      		 <div> 
				<h3 align="center"> {{ask6}}</h3>
			 	 </div>
      		
      			 <div class="bt"></div>
       			<a class="btn b2" ng-click="myAsk6()" >Ask</a>
      		</div >
      </div>      
    </div>
  </div>

</div>

		  </div>

		 <div>
		 	<h4 style="margin-left:30px;">Transition History	</h4>
		 	<table class="table " style="width:1150px;" align="center">
    <thead>
      <tr >
        <th>Order</th>
        <th>Currency</th>
        <th>Amount</th>
        <th>Price</th>
         <th>Date</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <tr style="background-color: {{color1}}">
        <td>{{order1}}</td>
        <td>{{currency1}}</td>
        <td>{{amount1}}</td>
        <td>{{price1}}</td>
        <td>{{date1 | date:'dd/MM/yyyy'}}</td>
        <td>{{date1 | date:'HH:mm:ss'}}</td>
        
      </tr>
    
     <tr style="background-color: {{color2}}">
        <td>{{order2}}</td>
        <td>{{currency2}}</td>
        <td>{{amount2}}</td>
        <td>{{price2}}</td>
        <td>{{date2 | date:'dd/MM/yyyy'}}</td>
        <td>{{date2| date:'HH:mm:ss'}}</td>
        
      </tr>
     <tr style="background-color: {{color3}}">
        <td>{{order3}}</td>
        <td>{{currency3}}</td>
        <td>{{amount3}}</td>
        <td>{{price3}}</td>
        <td>{{date3 | date:'dd/MM/yyyy'}}</td>
        <td>{{date3| date:'HH:mm:ss'}}</td>
        
      </tr>
     <tr style="background-color: {{color4}}">
        <td>{{order4}}</td>
        <td>{{currency4}}</td>
        <td>{{amount4}}</td>
        <td>{{price4}}</td>
        <td>{{date4 | date:'dd/MM/yyyy'}}</td>
        <td>{{date4| date:'HH:mm:ss'}}</td>
        
      </tr>
     <tr style="background-color: {{color5}}">
        <td>{{order5}}</td>
        <td>{{currency5}}</td>
        <td>{{amount5}}</td>
        <td>{{price5}}</td>
        <td>{{date5 | date:'dd/MM/yyyy'}}</td>
        <td>{{date5| date:'HH:mm:ss'}}</td>
        
      </tr>
     <tr style="background-color: {{color6}}">
        <td>{{order6}}</td>
        <td>{{currency6}}</td>
        <td>{{amount6}}</td>
        <td>{{price6}}</td>
        <td>{{date6 | date:'dd/MM/yyyy'}}</td>
        <td>{{date6| date:'HH:mm:ss'}}</td>
        
      </tr>
   
    </tbody>
  </table>


		 </div>
		 </div>



		 <div>
		 	
        <table class="table" style="width:1150" align="center">
    <tr style="background-color:grey">
      <th >Date</th>
      <th>Title</th>

     <tr>      
      <td>2013/05/06</td>
      <td><button class="btn" data-target=".bs-example-modal-lg" data-toggle=
      "modal" type="button">Large Modal</button></td>
    </tr>
     <tr>      
      <td>2013/05/06</td>
      <td><button class="btn" data-target=".bs-example-modal-lg" data-toggle=
      "modal" type="button">Large modal</button></td>
    </tr>
     <tr>      
      <td>2013/05/06</td>
      <td><button class="btn" data-target=".bs-example-modal-lg" data-toggle=
      "modal" type="button">Large modal</button></td>
    </tr>
     <tr>      
      <td>2013/05/06</td>
      <td>
      <button class="btn" data-target=".bs-example-modal-lg" data-toggle=
      "modal" type="button">Large modal</button></td>
    </tr>

  </table><!-- Large modal -->
   <div aria-labelledby="myLargeModalLabel" class=
  "modal fade bs-example-modal-lg" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
       <div id="divRsst"></div>
      </div>
    </div>
  </div>


  <div style="padding:10px;">
    <h1></h1>
    <div>
        <div class="rssDiv">
            <p>
                <strong></strong>
            <p />
            <div id=" "></div>
         
          
        </div>

        

  <script src="./boot/js/bootstrap.js">
  </script>

        </div>



		 </div>

 </body>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $interval) {
  $scope.bid1 = (Math.random()*10).toFixed(4);
  $scope.bid2 = (Math.random()*10).toFixed(4);
  $scope.bid3 = (Math.random()*10).toFixed(4);
  $scope.bid4 = (Math.random()*10).toFixed(4);
  $scope.bid5 = (Math.random()*10).toFixed(4);
  $scope.bid6 = (Math.random()*10).toFixed(4);
 var date = new Date();
  var  amt=$scope.amount;

  
  $scope.myBid1=function()
  { 
  	$scope.order1='Bye';
  	$scope.currency1="USD/JPY"
  	$scope.amount1=(parseFloat($scope.amount)+(parseFloat($scope.bid1)*1000)).toFixed(2);
    $scope.price1=$scope.bid1;
  	$scope.date1= new Date();
    $scope.color1="green";
  },

  $scope.myAsk1=function()
  {
 	$scope.order1='Sell';
  	$scope.currency1="USD/JPY"
  	$scope.amount1=(parseFloat($scope.amount)-(parseFloat($scope.bid1)*1000)).toFixed(2);
    $scope.amount1=$scope.amount;
  	$scope.price1=$scope.ask1;
  	$scope.date1= new Date();
    $scope.color1="red";

  }


 $scope.myBid2=function()
  { 
  	$scope.order2='Bye';
  	$scope.currency2="AUD/JPY"
  	$scope.amount2=(parseFloat($scope.amount)+(parseFloat($scope.bid2)*1000)).toFixed(2);
    $scope.amount2=$scope.amount;
  	$scope.price2=$scope.bid2;
  	$scope.date2= new Date();
    $scope.color2="green";
  },

  $scope.myAsk2=function()
  {
 	$scope.order2='Sell';
  	$scope.currency2="AUD/JPY"
  	$scope.amount2=(parseFloat($scope.amount)-(parseFloat($scope.ask2)*1000)).toFixed(2);
  	$scope.price2=$scope.ask2;
  	$scope.date2= new Date();
    $scope.color2="red";

  }
  $scope.myBid3=function()
  { 
  	$scope.order3='Bye';
  	$scope.currency3="EUR/CAD"
  	$scope.amount3=(parseFloat($scope.amount)+(parseFloat($scope.bid3)*1000)).toFixed(2);
    $scope.amount3=$scope.amount;
  	$scope.price3=$scope.bid3;
  	$scope.date3= new Date();
    $scope.color3="green";
  },

  $scope.myAsk3=function()
  {
 	$scope.order3='Sell';
  	$scope.currency3="EUR/CAD"
  	$scope.amount3=(parseFloat($scope.amount)-(parseFloat($scope.ask3)*1000)).toFixed(2);
    $scope.amount3=$scope.amount;
  	$scope.price3=$scope.ask3;
  	$scope.date3= new Date();
    $scope.color3="red";

  }
  $scope.myBid4=function()
  { 
  	$scope.order4='Bye';
  	$scope.currency4="USD/CNY"
  	$scope.amount4=(parseFloat($scope.amount)+(parseFloat($scope.bid4)*1000)).toFixed(2);
    $scope.amount4=$scope.amount;
  	$scope.price4=$scope.bid4;
  	$scope.date4= new Date();
    $scope.color4="green";
  },

  $scope.myAsk4=function()
  {
 	$scope.order4='Sell';
  	$scope.currency4="USD/CNY"
  	$scope.amount4=(parseFloat($scope.amount)-(parseFloat($scope.ask4)*1000)).toFixed(2);
    $scope.amount4=$scope.amount;
  	$scope.price4=$scope.ask4;
  	$scope.date4= new Date();
    $scope.color4="red";

  }
  $scope.myBid5=function()
  { 
  	$scope.order5='Bye';
  	$scope.currency5="CAD/CNY"
  	$scope.amount5=(parseFloat($scope.amount)+(parseFloat($scope.bid5)*1000)).toFixed(2);
    $scope.amount5=$scope.amount;
  	$scope.price5=$scope.bid5;
  	$scope.date5= new Date();
  	
    $scope.color5="green";
  },

  $scope.myAsk5=function()
  {
 	$scope.order5='Sell';
  	$scope.currency5="CAD/CNY"
  	$scope.amount5=(parseFloat($scope.amount)-(parseFloat($scope.ask5)*1000)).toFixed(2);
    $scope.amount5=$scope.amount;
  	$scope.price5=$scope.ask5;
  	$scope.date5= new Date();
    $scope.color5="red";

  }
 $scope.myBid6=function()
  { 
  	$scope.order6='Bye';
  	$scope.currency6="GPB/USD"
  	$scope.amount6=(parseFloat($scope.amount)+(parseFloat($scope.bid5)*1000)).toFixed(2);
    $scope.amount6=$scope.amount;
  	$scope.price6=$scope.bid5;
  	$scope.date6= new Date();
    $scope.color6="green";
  },

  $scope.myAsk6=function()
  {
 	$scope.order6='Sell';
  	$scope.currency6="GPB/USD"
  	$scope.amount6=(parseFloat($scope.amount)-(parseFloat($scope.ask5)*1000)).toFixed(2);
  	$scope.price6=$scope.ask5;
  	$scope.date6= new Date();
    $scope.color6="red";

  }

 $interval(function () {
      $scope.ask1 = parseFloat(((Math.random()*10)+parseFloat(1)).toFixed(4));

  }, 1000);
    
 $interval(function () {
      $scope.ask2 = parseFloat(((Math.random()*9)+parseFloat(1)).toFixed(4));

  }, 1000);

 $interval(function () {
      $scope.ask3 = parseFloat(((Math.random()*8)+parseFloat(1)).toFixed(4));

  }, 1000);

 $interval(function () {
      $scope.ask4 = parseFloat(((Math.random()*7)+parseFloat(1)).toFixed(4));

  }, 1000);

 $interval(function () {
      $scope.ask5 = parseFloat(((Math.random()*6)+parseFloat(1)).toFixed(4));

  }, 1000);

 $interval(function () {
      $scope.ask6 = parseFloat(((Math.random()*5)+parseFloat(1)).toFixed(4));

  }, 1000);
 

  $interval(function () {
      $scope.bid1 = (Math.random()*10).toFixed(4);
  }, 1000);

$interval(function () {
      $scope.bid2 = (Math.random()*9).toFixed(4);
  }, 1000);

$interval(function () {
      $scope.bid3 = (Math.random()*8).toFixed(4);
  }, 1000);

$interval(function () {
      $scope.bid4 = (Math.random()*7).toFixed(4);
  }, 1000);

$interval(function () {
      $scope.bid5 = (Math.random()*6).toFixed(4);
  }, 1000);

$interval(function () {
      $scope.bid6 = (Math.random()*5).toFixed(4);
  }, 1000);
  



});
</script>
 <script type="text/javascript">
        $(document).ready(function () {
            $('#divRss').FeedEk({
                FeedUrl: 'http://jquery-plugins.net/rss',
                MaxCount: 3
            });

            $('#divRss2').FeedEk({
                FeedUrl: 'http://jquery-plugins.net/rss',
                MaxCount: 4,
                ShowDesc: true,
                ShowPubDate: false,
                DescCharacterLimit: 100
            });

            $('#divRss3').FeedEk({
                FeedUrl: 'http://jquery-plugins.net/rss',
                MaxCount: 5,
                ShowDesc: false
            });

            $('#divRss4').FeedEk({
                FeedUrl: 'http://jquery-plugins.net/rss',
                MaxCount: 2,
                DateFormat: 'L',
                DateFormatLang: 'en'
            });

            $('#divRss5').FeedEk({
                FeedUrl: 'http://jquery-plugins.net/rss',
                MaxCount: 2,
                DateFormat: 'L',
                DateFormatLang: 'tr'
            });
           
        });

    </script>
 </html>
		
